/* - - - - - - - - - - - - - - - 
CSS principal
Desarrollado por: Laura Gpe Aguirre Macias
Para: 
Fecha: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* ====== F O N T S ====== */


@font-face {
	font-family: 'PublicSans';
	src: url('../../_fonts/PublicSans-Regular.woff') format('woff');
	font-style: normal;
  }

  @font-face {
	font-family: 'PublicSans Bold';
	src: url('../../_fonts/PublicSans-Bold.woff') format('woff');
	font-style: normal;
  }

  @font-face {
	font-family: 'PublicSans SemiBold';
	src: url('../../_fonts/PublicSans-SemiBold.woff') format('woff');
	font-style: normal;
  }

  @font-face {
	font-family: 'PublicSans Medium';
	src: url('../../_fonts/PublicSans-Medium.woff') format('woff');
	font-style: normal;
  }

  @font-face {
    font-family: 'PublicSans Italic Extra Light';
    src: url('../../_fonts/PublicSans-ExtraLightItalic.woff') format('woff');
    font-style: normal;
    }



/* ====== F O N T S (end) ====== */


/*Eliminamos márgenes del "body" */
a { text-decoration: none; }

html, body{ margin:0px; padding:0px; }

header{
}

body{
    background: #274C67;
}
.pointer{
    cursor: pointer;
}

.block{
  display: block ;
}

.none{
  display: none !important;
}

.ind{
  z-index: 2;
}

#section1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 100%;
    background: linear-gradient(139deg,#0c5893 25%,#CE0F69 95%);
    z-index: 2; 
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 2);

  }

  .tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(224, 226, 229, 30%);
    color: rgb(219, 220, 230, 80%);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 102%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: .75rem;
    letter-spacing: 1px;
    font-family: 'PublicSans Italic Extra Light';
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

  #section1 img{
    filter: drop-shadow(3px 3px 3px black);
    width: 300px;
  }
  
  #arrow {
    animation: jump 1s infinite;
    cursor: pointer;
  }

  /* ------ hovers ------ */

  #image:hover{
    animation: jump2 1.5s infinite;
  }

@keyframes jump {
    0%, 70% {
      transform: translateY(0);
      filter: grayscale(1);
    }
    35% {
      transform: translateY(-20px);
      filter: saturate(0) brightness(0.6) hue-rotate(150deg);
    }
  }

  @keyframes jump2 {
    0%, 70% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }

.title-conect{
    font-size: 2.9rem;
    color: white;
    font-family: 'PublicSans Bold';
    text-align: center;
    margin: 0;
}

.spa-title{
    color: white;
    font-size: 1.5rem;
    font-family: 'PublicSans Medium';/* SemiBold */
    font-style: italic;
    margin-bottom: 25px;
}

.cont-general{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.align-enc{
    background-color: white;
    border-radius: 20px;
    padding: 30px 10px;
    width: 70%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 70%);
}

.title-enc{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.title-enc h1{
    font-family: 'PublicSans Bold';
    font-size: 2rem;
    color: #CE0F69;
    margin: 20px 0;
    text-align: center;
}

.cont-questions{
    width: 90%;
}

.form-questions{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-questions h3{
     font-family: 'PublicSans Medium';/* SemiBold */
    font-size: 1.1rem;
    color: black;

}

.qs-general{
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.form-questions select{
    height: 40px;
    padding: 0 10px;
    background-color: rgb(84,88,89,.1);
    border: none;
}

.form-questions select, .form-questions label, .other{
    font-family: 'PublicSans';
    font-size: 1.1rem;
}

.part1, .part2, .part3{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.options option{
    font-family: 'PublicSans';
    font-size: 1.1rem;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.other{
  padding: 0 10px;
  border: none;
  border-bottom: 1px solid;
}

.comments{
  display: flex;
  width: 100%;
  justify-content: initial;
  margin-top: 30px;
  align-items: center;
}

.text-opts{
  width: 45%;
}

.opts{
  width: 30%;
}

.text-opts textarea{
  border: none;
  width: 100%;
  resize: none;
  height: 100px;
  background-color: rgb(84, 88, 89, 15%);
  font-family: 'PublicSans';
  font-size: 1rem;
}

.text-opts textarea:focus-visible{
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 2);
  outline: none;
}

.cont-butt-env{
  width: 100%;
  display: flex;
  justify-content: center;
}

.but-env{
  padding: 13px 50px;
  color: white;
  background-color: #274C67;
  border-radius: 5px;
  font-family: 'PublicSans';
  border-style: none;
  font-size: 1.1rem;
}

.but-env:hover{
  background-color: #B94E80;
  transition: .4s;
  cursor: pointer;
}

.ali-pop{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-image: url('../../_images/catedral.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el div */
  position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
  border-radius: 8px;
  padding: 10vh 0;
  margin: 6vh 0;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 2);
  flex-direction: column;
}

.ali-pop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 78, 120, 0.8); /* Ajusta la opacidad del color blanco */
  z-index: 1; /* Asegúrate de que el color blanco esté por encima de la imagen de fondo */
}

.cont-pop{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ali-pop h3{
  font-family: 'PublicSans Bold';
  font-size: 2.5rem;
  text-align: center;
  color: white;
  margin: 0;
}

.ali-pop p{
  font-family: 'PublicSans Medium';
  text-decoration: underline;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  text-align: center;
}

#divCreGraph{
  flex-direction: column;
  position: fixed;
  background: red;
  height: 100% !important;
  width: 100% !important;
  z-index: 3;
  display: flex;
  overflow: scroll;
  align-items: center;
  top: 0;
  background: rgba(195, 202, 209, 0.7);
  justify-content: center;
  align-items: center;
}

#aliCreGraph{
  width: 85%;
  background-color: #fff;
  padding: 20px;
}

.divTitCrate{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

button#createGraph {
  padding: 5px 8px;
  background-color: cadetblue;
  border-radius: 5px;
  height: 35px;
  color: white;
}

.aliPartsGraph{
  display: flex;
  justify-content: space-between;
}

.contPartsGraph {
  width: 100%;
  display: flex;
  padding: 15px 0;
}

.contPartsGraph p {
  font-size: .9rem;
  text-align: center;
  font-family: system-ui;
  color: gray;
}

.contPartsGraph h4{
  text-align: center;
  font-family: system-ui;
}

.contUnion{
  width: 70%;
  display: flex;
  justify-content: space-around;
}

#changeGraph{
  width: 30vh;
  color: #778BA4;
  border: none;
  font-size: 1rem;
  text-align: start;
  background-color: rgb(188, 197, 207, 40%);
  padding: 11px;
}

#sentimentTable td {
  border-bottom: 1px solid #ACB7C8;
}
table#sentimentTable {
  width: 100%;
  background-color: white;
  margin-bottom: 45px;
}
tr.titTabSent {
  font-weight: 700;
  color: #334F7B;
}
.dateTabSent{
  width: 30%;
}
.sentTabSent{
  width: 30%;
}
.pregTabSent{
  width: 40%;
}


/* ------------------  cronometro de reversa ---------------------------  */

.caja {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caja {
  font-family: 'PublicSans Medium';
  background-color: rgb(206, 15, 105, 50%);
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 10px 20px;
}

#openQR {
  animation: blink 1.3s linear infinite;
}
@keyframes blink{
0%{transform: scale(1.03);}
50%{transform: scale(1.05);}
100%{transform: scale(1.07);}
}

/* ------------------------ Generar infografias ------------------------------- */
.inpInfo:checked ~ .imageInfo{
  border: 1px solid rgb(0, 45, 114, .7);
}
.contInfografia {
  display: flex;
  /* background-image: url('../../_images/chih.jpg') !important; */
  width: 100%;
  height: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  flex-direction: column;
}
.contInfografia::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(207, 220, 240, 0.9);
  z-index: 1;
}
.contImagePlant img {
  display: block; /* Elimina el espacio en línea que puede causar problemas de diseño */
  transition: transform 0.2s; /* Mueve la transición aquí para que se aplique siempre */
}
.contImagePlant img:hover {
  transform: scale(1.4);
}

.aliInfografia h1 {
  font-family: 'PublicSans Bold';
  font-size: 1.7rem;
  color: rgb(0, 45, 114, .8);
}
#labelInfografia{
  display: inline-block; 
  overflow: visible; 
  position: relative; 
}
.contImagePlant{
  width: auto;
  display: flex;
  justify-content: flex-start;
  padding: 20px 16px;
  background-color: rgb(255, 255, 255, .5);
  border-radius: 5px;
  border: 1px solid rgb(0, 45, 114, .3);
  /* display: inline-block;  */
  /* overflow: visible; 
  position: relative;  */
}
.contImagePlant label {
  width: 30%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* height: 300px; */
  align-items: center;
}

.contImagePlant img{
  box-shadow: 1px 0px 5px rgb(0, 0, 0, 50%);
  width: 90%;
}

.aliInfografia {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7vh;
  position: relative;
  z-index: 2;
}
.timeInfo{
  display: flex;
  justify-content: center;
}
.timeInfo {
  display: flex;
  justify-content: start;
  margin-top: 4vh;
}
.timeInfo h3{
  margin: 0;
  font-family: 'PublicSans SemiBold';
  color: rgb(0, 45, 114, .8);
  margin-right: 8px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
 color: rgb(0, 45, 114, .7);
}
.timeInfo input{
  border-style: none;
  background: rgb(255, 255, 255, .5);
  color: rgb(0, 45, 114, .7);
}
.contButInfo{
  width: 100%;
  justify-content: end;
  display: flex;
  margin-top: 20px;
}
button.genInfografia {
  border-style: none;
  padding: 7px 16px;
  font-size: 1rem;
  border: 1px solid rgb(0, 45, 114, .4);
  color: rgb(0, 45, 114, .8);
  border-radius: 5px;
}
button.genInfografia:hover {
  background: rgb(0, 45, 114, .4);
  color: white;
  border: white;
  transition: .3s;
}

button#genInfog {
  padding: 8px 10px;
  background: rgb(0, 45, 114, .4);
  color: white;
  border-radius: 5px;
}

.contCloseInfo{
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: -5vh;
  cursor: pointer;
}

.contCloseInfo img{
  width: 5vh;
  margin-right: 5vh;
}
/* ------ CARGANDO DE INFOGRAFIAS ------- */
.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgb(0, 45, 114, .8);
}

.load-wrapp:last-child {
  margin-right: 0;
}

.load-wrapp {
  float: left;
    padding: 20px 20px 20px;
    border-radius: 5px;
    padding: 7px 16px 18px;
    border: 1px solid rgb(0, 45, 114, .4);
    color: rgb(0, 45, 114, .8);
    border-radius: 5px;
}
.load-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-3 p{
  font-family: 'PublicSans Italic Extra Light';
  font-weight: 1000;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}


@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}