/* - - - - - - - - - - - - - - - 
CSS principal
Desarrollado por: Laura Gpe Aguirre Macias
Para: 
Fecha: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* ====== F O N T S ====== */


@font-face {
	font-family: 'PublicSans';
	src: url('../../_fonts/PublicSans-Regular.woff') format('woff');
	font-style: normal;
  }

  @font-face {
	font-family: 'PublicSans Bold';
	src: url('../../_fonts/PublicSans-Bold.woff') format('woff');
	font-style: normal;
  }

  @font-face {
	font-family: 'PublicSans SemiBold';
	src: url('../../_fonts/PublicSans-SemiBold.woff') format('woff');
	font-style: normal;
  }

  @font-face {
	font-family: 'PublicSans Medium';
	src: url('../../_fonts/PublicSans-Medium.woff') format('woff');
	font-style: normal;
  }

  @font-face {
    font-family: 'PublicSans Italic Extra Light';
    src: url('../../_fonts/PublicSans-ExtraLightItalic.woff') format('woff');
    font-style: normal;
    }
    @font-face {
      font-family: 'Acumin';
      src: url('../../_fonts/acumin-variable-concept.woff') format('woff');
      font-style: normal;
    }



/* ====== F O N T S (end) ====== */


/*Eliminamos márgenes del "body" */
a { text-decoration: none; }

html, body{ margin:0px; padding:0px; }

header{
}

/* body{
    background: #274C67;
} */
.pointer{
    cursor: pointer;
}

.block{
  display: block ;
}

.none{
  display: none !important;
}

.ind{
  z-index: 2;
  
}

.seg{
  color: white;
  font-family: 'Acumin';
}
#section1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 100vh;
  z-index: 2;
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 2);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }
  .contLogos{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }
  .contLogos img{
    width: 150px !important;
  }
  /* #filrDeg::before{
    position: absolute;
    width: 100%;
    height: 100vh;
    content: '';
    top: 0;
    left: 0;
    background: linear-gradient(rgba(49, 69,218, 0.5), rgba(169, 34, 148, 0.5), rgba(35, 31, 223, 0.5));
  } */
  .contSec{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  /* .filrDeg{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(49, 69,218, 0.5), rgba(169, 34, 148, 0.5), rgba(35, 31, 223, 0.5));

  } */
  .boxWhite{
    border: 4px solid white;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: visible;
    position: relative;
    align-items: center;
    z-index: 3;
  }
  
 /* .contBuilding::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(49, 69,218, 0.5), rgba(169, 34, 148, 0.5), rgba(35, 31, 223, 0.5));
    z-index: 2;
     -webkit-mask-image: url(../../_images/quintaR.png);
    mask-image: url(../../_images/quintaR.png);
    -webkit-mask-size: contain;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center; 
  }*/
  .margRight{
    margin-right: 140px;
  }
  .contBuilding{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../../_images/quintaCM.png) no-repeat center / cover;
    background-size: 60%;
    background-position: center;
    z-index: 1;
    top: -8vh;
    min-width: 100vw; /* Asegura que el contenido hijo sea al menos tan ancho como la ventana de visualización */
    margin-left: calc(-50vw + 50%); 
    /* -webkit-mask-image: url(../../_images/quintaR.png);
    mask-image: url(../../_images/quintaR.png);
    -webkit-mask-size: contain;
    mask-size: 78%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    top: -20vh; */
  }
  .contImg1, .contImg2{
    position: absolute;
    z-index: 3;
    width: 7%;
  }
  .contImg2 {
    bottom: 9%;
    left: 5%;
}
.contImg1 {
  top: 9%;
  right: 5%;
}
  .contImg2 img, .contImg1 img {
    width: 100% !important;
    filter: drop-shadow(0px 0px 0px white) !important;
  }
  .textoPort{
    z-index: 5;
    position: absolute;
  }
  .textoPort h4 {
    font-size: 1.4rem;
    margin: 0;
}
  .textoPort h2, .textoPort h4 {
    font-family: 'Acumin';
    color: white;
    text-align: center;
  }
  .textoPort h2 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 12px;
}
  .tooltip {
    position: absolute;
    display: inline-block;
    z-index: 3;
    bottom: 5%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(224, 226, 229, 45%);
    color: rgb(255,255,255, 100%);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 102%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: .75rem;
    letter-spacing: 1px;
    font-family: 'PublicSans Italic Extra Light';
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

  #section1 img{
    filter: drop-shadow(3px 3px 3px black);
    width: 300px;
  }
  
  #arrow {
    animation: jump 1s infinite;
    cursor: pointer;
  }
  .noResp{
    color: #CE0F69;
    font-weight: 600;
    padding: 25px 0;
  }



  /* ---------- NUEVA PORTADA DE INICIO ENCUESTA ------------ */
  #sectionPort{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .degradadoPort{
    height: 30vh;
    background: linear-gradient(0deg,rgba(45, 79, 166, 1) 0%, rgba(137, 104, 194, 0.58) 49%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    width: 100%;
    top: 0;
  }
  .degradadoPortFin{
    height: 30vh;
    background: linear-gradient(0deg,rgba(137, 104, 194, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    width: 100%;
  }
  .contLogosImg,  .contLogosImg2{
    width: 100%;
    display: flex;
    height: 29.5vh;
    align-items: end;
    justify-content: center;
    background-image: url(../../_images/catedral2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contLogosPor{
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    align-items: center;
  }
  .contLogosPor img{
    height: auto;
  }
  .contTextTitle{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(45,79,166);
    padding-bottom: 40px;
  }
  .fin{
    background: linear-gradient(0deg, rgba(45, 79, 166, 1) 0%, rgba(137, 104, 194, 1) 100%);
    height: 70vh;
  }
  .lineFin{
    height: 1px;
    background-color: white;
    width: 90%;
    margin: 20px 0;
  }
  .fin span{
    color: white;
    /* margin-bottom: 20px; */
    font-family: 'PublicSans';
    /* font-size: 1.16rem; */
  }
  .contTextTitle p, .contTextTitle h3,.contTextTitle h4{
    width: 90%;
    color: white;
	  font-family: 'PublicSans';
    margin: 10px 0;
  }
  .contTextTitle h5{
      font-size: 1rem;
    width: 90%;
    color: white;
    font-family: 'PublicSans';
    font-weight: 100;
    margin: 7px 0;
  }
  .contTextTitle p{
    font-weight: 600;
  }
  .contTextTitle h3 {
    font-size: 1.8rem;
  }
  .contTextTitle h4 {
    font-size: 1.3rem;
}
  .contTextTitle p span{
    font-weight: 100;
  }
  /* --------- diseño preguntas ------------- */
  /* .encuesta-container {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      margin: 20px;
    }
    .steps {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
    }
    .step {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
    .step.active {
      background-color: rgb(45,79,166);
    }
    .finish{
        background-color: rgb(41,155,21,.2);
    }
    .step::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 0;
      background-color: rgb(45,79,166);
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      transition: height 0.4s ease-in-out;
      z-index: -1;
    }
    /* .step.active::before {
      height: 40px; 
    } 
    .preguntas {
      width: 100%;
    }
    .pregunta {
      display: none !important;
      background-color: #f5f5f5;
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    .pregunta-activa {
      display: flex !important;
    }
    button.siguiente {
      margin-top: 10px;
    } */
  /* ------ hovers ------ */
.number{
    background-color: rgb(45, 79, 166);
    border-radius: 50px;
    padding: 7px 13px;
    margin-left: -50px;
    color: white;
    margin-right: 15px;
}
.number2{
    background-color: white;
    border: 1px solid rgb(45, 79, 166);
    border-radius: 50px;
    padding: 5px 13px;
    margin-left: -50px;
    color: rgb(45, 79, 166);
    margin-right: 15px;
}
  #openQR:hover {
    transform: scale(1.05);
}

@keyframes jump {
    0%, 70% {
      transform: translateY(0);
      filter: grayscale(1);
    }
    35% {
      transform: translateY(-20px);
      filter: saturate(0) brightness(0.6) hue-rotate(150deg);
    }
  }

  @keyframes jump2 {
    0%, 70% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }

.title-conect{
    font-size: 2.9rem;
    color: white;
    font-family: 'PublicSans Bold';
    text-align: center;
    margin: 0;
}

.spa-title{
    color: white;
    font-size: 1.5rem;
    font-family: 'PublicSans Medium';/* SemiBold */
    font-style: italic;
    margin-bottom: 25px;
}

.cont-general{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.align-enc{
    background-color: white;
    border-radius: 20px; 
    padding: 30px 10px;
    width: 70%;
    /* margin: 50px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 1px 1px 15px rgba(0, 0, 0, 70%); */
}

.title-enc{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.title-enc h1{
    font-family: 'PublicSans Bold';
    font-size: 2rem;
    color: #CE0F69;
    margin: 20px 0;
    text-align: center;
}

.cont-questions{
    width: 90%;
}

.form-questions{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-questions h3{
     font-family: 'PublicSans Medium';/* SemiBold */
    font-size: 1.1rem;
    color: black;

}

.qs-general{
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.form-questions select{
    height: 40px;
    padding: 0 10px;
    background-color: rgb(84,88,89,.1);
    border: none;
}

.form-questions select, .form-questions label, .other{
    font-family: 'PublicSans';
    font-size: 1.1rem;
}

.part1, .part2, .part3{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}
.avisoPriv{
  width: 90%;
  display: flex;
  justify-content: center;
}
.avisoPriv p{
  width: 100%;
  text-align: center;
  font-family: 'PublicSans';
}
.avisoPriv p a {
    font-weight: 600;
    text-decoration: underline;
    color: rgb(45, 79, 166);
}
.options option{
    font-family: 'PublicSans';
    font-size: 1.1rem;
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.other{
  padding: 0 10px;
  border: none;
  border-bottom: 1px solid;
}

.comments{
  display: flex;
  width: 100%;
  justify-content: initial;
  margin-top: 30px;
  align-items: center;
}

.text-opts{
  width: 45%;
}

.opts{
  width: 30%;
}

.text-opts textarea{
  border: none;
  width: 100%;
  resize: none;
  height: 100px;
  background-color: rgb(84, 88, 89, 15%);
  font-family: 'PublicSans';
  font-size: 1rem;
}

.text-opts textarea:focus-visible{
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 2);
  outline: none;
}

.cont-butt-env{
  width: 100%;
  display: flex;
  justify-content: center;
}

.but-env{
  padding: 13px 50px;
  color: white;
  background-color: RGB(137,104,194);
  border-radius: 5px;
  font-family: 'PublicSans';
  border-style: none;
  font-size: 1.1rem;
}

.but-env:hover{
  background-color: #B94E80;
  transition: .4s;
  cursor: pointer;
}
.ali-pop{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-image: url(../../_images/angel.png);
    background-size: 34%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: right top;
    border-radius: 8px;
    /* padding: 10vh 0; */
    /* margin: 6vh 0; */
    /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 2); */
    flex-direction: column;
    top: -14vh;
}
.contMarco{
  border: 5px solid white;
  content: '';
  position: relative;
  padding: 0 20px;
  z-index: 1;
  width: 60%;
  height: 64vh;
}
/* .ali-pop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: rgba(51, 78, 120, 0.8);  Ajusta la opacidad del color blanco 
  z-index: 1; /* Asegúrate de que el color blanco esté por encima de la imagen de fondo 
} */
.timer{
  display: flex;
  align-items: end;
  padding: 9px;
  margin: 4vh 0;
}
.contRecom h3{
  font-weight: 400;
  font-family: 'PublicSans' !important;
  margin-bottom: 25px !important;
  font-size: 1.9rem !important;
  text-align: left !important;
}
.zeros, .caja{
  font-size: 2rem;
  color: white;
  font-family: 'PublicSans Bold';
}
.cont-pop{
  height: 100vh;
    width: 100%;
    display: flex;
}

.ali-pop h3{
  font-family: 'PublicSans Bold';
  font-size: 3.3rem;
  text-align: center;
  color: white;
  margin: 0;
}

.ali-pop p{
  font-family: 'PublicSans Medium';
  text-decoration: underline;
  font-size: 1rem;
  color: white;
  text-align: center;
}
.contTimRecom{
  width: 70%;
  display: flex;
  margin-top: -8%;
}
.contRecom{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.elemAbs{
  position: absolute;
}
#cicle{
  bottom: 10%;
    left: -11%;
    width: 10%;
}
#flechas, #flechas2{
    width: 28%;
    position: relative;
    margin-bottom: 25px;
    margin-left: 28%;
}
.respon{
  display: none;
  transform: rotate(-180deg);
  animation: blink 1s linear infinite;
}
.pc{
  animation: blink 1s linear infinite;
}
#divCreGraph{
  flex-direction: column;
  position: fixed;
  background: red;
  height: 100% !important;
  width: 100% !important;
  z-index: 3;
  display: flex;
  overflow: scroll;
  align-items: center;
  top: 0;
  background: rgba(195, 202, 209, 0.7);
  justify-content: center;
  align-items: center;
}

#aliCreGraph{
  width: 85%;
  background-color: #fff;
  padding: 20px;
}

.divTitCrate{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

button#createGraph {
  padding: 5px 8px;
  background-color: cadetblue;
  border-radius: 5px;
  height: 35px;
  color: white;
}

.aliPartsGraph{
  display: flex;
  justify-content: space-between;
}

.contPartsGraph {
  width: 100%;
  display: flex;
  padding: 15px 0;
}

.contPartsGraph p {
  font-size: .9rem;
  text-align: center;
  font-family: system-ui;
  color: gray;
}

.contPartsGraph h4{
  text-align: center;
  font-family: system-ui;
}

.contUnion{
  width: 70%;
  display: flex;
  justify-content: space-around;
}

#changeGraph{
  width: 30vh;
  color: rgb(206, 15, 105);
  border: none;
  font-size: 1rem;
  text-align: start;
  background-color: rgb(206, 15, 105, .15);
  padding: 11px;
  border-top-right-radius: 10px;
}

#sentimentTable td {
  border-bottom: 1px solid #ACB7C8;
}
table#sentimentTable {
  width: 90%;
  background-color: white;
  margin-bottom: 45px;
  padding: 30px;
  border-collapse: collapse;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#sentimentTable tr:nth-child(even) {
  background-color: rgb(0, 45, 114,.2);
}
tr.titTabSent {
  font-weight: 700;
  color: white;
  background-color: rgb(0, 45, 114, .8);
}
.dateTabSent{
  width: 30%;
}
.sentTabSent{
  width: 30%;
}
.pregTabSent{
  width: 40%;
}

/* ------------------  cronometro de reversa ---------------------------  */

.caja {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


#openQR {
  /* animation: blink 1.3s linear infinite; */
      background: white;
    border: 1px solid white;
    color: #8968C2;
    width: 200px;
    font-size: 1.7rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
#newEnc{
  cursor: pointer;
}
@keyframes blink{
0%{top: 7px;}
50%{top: 14px;}
100%{top: 21px;}
}

/* ------------------------ Generar infografias ------------------------------- */
input.select_museum:checked ~ .imageInfo{
  border: 1px solid rgb(0, 45, 114, .7);
}
input.select_museum:checked{
  height: 50px;
}
.contInfografia {
  display: flex;
  /* background-image: url('../../_images/chih.jpg') !important; */
  width: 100%;
  height: 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  flex-direction: column;
}
.contInfografia::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(207, 220, 240, 0.9);
  z-index: 1;
}
.contImagePlant img {
  display: block; /* Elimina el espacio en línea que puede causar problemas de diseño */
  transition: transform 0.2s; /* Mueve la transición aquí para que se aplique siempre */
}
.contImagePlant img:hover {
  transform: scale(1.4);
}

.aliInfografia h1 {
  font-family: 'PublicSans Bold';
  font-size: 1.7rem;
  color: rgb(0, 45, 114, .8);
}
#labelInfografia{
  display: inline-block; 
  overflow: visible; 
  position: relative; 
}
.contImagePlant{
  width: auto;
  display: flex;
  justify-content: flex-start;
  padding: 20px 16px;
  background-color: rgb(255, 255, 255, .5);
  border-radius: 5px;
  border: 1px solid rgb(0, 45, 114, .3);
  /* display: inline-block;  */
  /* overflow: visible; 
  position: relative;  */
}
.contImagePlant label {
  width: 30%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* height: 300px; */
  align-items: center;
}

.contImagePlant img{
  box-shadow: 1px 0px 5px rgb(0, 0, 0, 50%);
  width: 90%;
}

.aliInfografia {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7vh;
  position: relative;
  z-index: 2;
}
.timeInfo{
  display: flex;
  justify-content: center;
}
.timeInfo {
  display: flex;
  justify-content: start;
  margin-top: 4vh;
}
.timeInfo h3{
  margin: 0;
  font-family: 'PublicSans SemiBold';
  color: rgb(0, 45, 114, .8);
  margin-right: 8px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
 color: rgb(0, 45, 114, .7);
}
.timeInfo input{
  border-style: none;
  background: rgb(255, 255, 255, .5);
  color: rgb(0, 45, 114, .7);
}
.contButInfo{
  width: 100%;
  justify-content: end;
  display: flex;
  margin-top: 20px;
}
button.genInfografia {
  border-style: none;
  padding: 7px 16px;
  font-size: 1rem;
  border: 1px solid rgb(0, 45, 114, .4);
  color: rgb(0, 45, 114, .8);
  border-radius: 5px;
}
button.genInfografia:hover {
  background: rgb(0, 45, 114, .4);
  color: white;
  border: white;
  transition: .3s;
}

button#genInfog {
  padding: 8px 10px;
  background: rgb(0, 45, 114, .4);
  color: white;
  border-radius: 5px;
}

.contCloseInfo{
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: -5vh;
  cursor: pointer;
}

.contCloseInfo img{
  width: 5vh;
  margin-right: 5vh;
}
/* ------ CARGANDO DE INFOGRAFIAS ------- */
.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgb(0, 45, 114, .8);
}

.load-wrapp:last-child {
  margin-right: 0;
}

.load-wrapp {
  float: left;
    padding: 20px 20px 20px;
    border-radius: 5px;
    padding: 7px 16px 18px;
    border: 1px solid rgb(0, 45, 114, .4);
    color: rgb(0, 45, 114, .8);
    border-radius: 5px;
}
.load-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-3 p{
  font-family: 'PublicSans Italic Extra Light';
  font-weight: 1000;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}


@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}