:root {
  --prim-widthM: 550px;
  --med-widthM: 300px;
  --med-width2M: 250px;
}

@media (max-width: 800px) {
      .contBarHab{
            width: var(--med-width2M);
    }
    .contImgAM, .contCirHab{
            width: var(--med-widthM);
    }
    .contProj, 
    .contTextAM,
    .contTitle, 
    .contHabilidades, 
    .context,
    .decorIni {
        width: var(--prim-widthM);
    }
    .form1 {
        height: 550px;
        width: 500px;
    }
    .decorIni {
        height: 290px;
    }
    .contIni {
        top: 24vh;
    }
    .form2 {
        height: 400px;
        width: 300px;
    }
    .contFormSend {
        height: 300px;
        width: 350px;
    }
    div#inicio {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: anchor-center;
    }
    .context h1, .context h3 {
        text-align: center;
        width: 100%;
    }
        
}

