.title-enc h1 {
    font-size: 1.5rem;
    margin-top: 0;
}

.form-questions h3, .form-questions select, input.but-env {
    font-size: .95rem;
}

input.but-env {
    padding: 9px 25px;
}

h3.title-conect {
    font-size: 1.8rem;
}

span.spa-title {
    font-size: 1.2rem;
}

.sub-tit{
    font-size: 1.4rem !important;
}

#section1 img {
    width: 45% !important;
    height: 63px !important;
    margin-bottom: 15px;
}

.align-enc {
    width: 90%;
    margin: 34px 0;
}

.qs-general label {
    margin-bottom: 10px;
    font-size: 0.9rem;
    display: inline-block;
    vertical-align: middle;
}

label input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-right: 7px;
}

.ali-pop h3 {
    font-size: 1.40rem !important;
}

.engPop{
    margin-bottom: 4vh;
}


.ali-pop{
    width: 95%;
    padding: 4vh 0;
}

.ali-pop p {
    margin: 8px 0;
    font-size: .95rem;
}

.ali-pop span {
    font-size: .9rem;
}